.poster {
  margin-top: 30px;
}
.posterImage {
  height: 450px;
}

 .posterImage > img {
  margin: auto;
  display: block;
  width: 100%;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.096);
}

.posterImage__overlay {
  position: absolute;
  padding: 5rem;
  bottom: 0px;
  height: 70%;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: flex-end;
  align-items: flex-start;
  background-image: linear-gradient(rgb(0, 0, 0, 0), rgba(0, 0, 0, 0.048));
  opacity: 1;
  border-radius: 20px;
  transition: opacity 0.5s;
}
.p-text{
    font-weight: bold;
    font-family: sans-serif;
}
.posterImage__title {
  font-weight: 900;
  font-size: 4rem;
  font-family: sans-serif;
  margin-bottom: 0.4rem;
  text-align: left;
}

.centered-div {
  text-align: center;
  font-size: 30px;
}

.img-detail {
  width: 150px;
  height: 225px;

  border-radius: 20px;
  position: absolute;
  bottom: 20px;
  left: 20px;
  z-index: 1;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.096);
}
