*{
    background: #171010;
}

.new-trip-btn{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #423F3E;
    border-radius: 5px;
}

.btn-link{
    margin: 3rem 0 2rem 0 !important;
    background: #423F3E !important;
}

.btn-pnt{
    font-family: sans-serif;
    color: lightgray;
    background-color: #2B2B2B !important;
    height: 3rem;
    width: 10rem;
    font-family: sans-serif;
    border: 1px solid #2B2B2B !important;
    border-radius: 1.5rem;
    transition: 0.4s;
    cursor: pointer;
}

.btn-pnt:hover{
    transform: scale(1.2);
}

.new-trip-btn-h2{
    font-family: sans-serif;
    margin:3rem 0 3rem 0;
    background: #423F3E;
}

.hotel-search{
    background: #423F3E;
    display: flex;
    flex-direction: column;
    padding: 2rem 0;
    border-radius: 5px;
}

.search-option{
    display: flex;
    justify-content: space-around;
    margin: 0 10rem;
    background: #423F3E;
}

.hotel-heading{
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    background: #423F3E;
}

.input-city{
    height: 40px;
    padding: 0 1rem;
    border-radius: 0.5rem !important;
    display: flex;
    align-items: center;
    width: 20rem;
    border: 3px solid white;
    background: #2B2B2B;
}

.input-city::placeholder{
    color: lightgray;
    font-family: sans-serif;
}

.search-booking{
    background: #2B2B2B;
    color: lightgray;
    height: 3rem;
    width: 13rem;
    border-radius: 1.5rem;
    font-family: sans-serif;
    font-weight: bold;
    cursor: pointer;
    transition: 0.4s;
    border: none;
}

.search-booking:hover{
    transform: scale(1.2);
}

.explore-div{
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0 3rem;
    border-radius: 5px;
    /* border: none !important; */
    background: #423F3E;
    
}

.explore-heading{
    display: flex;
    justify-content: center;
    background: #423F3E;
    border: 1px solid #423F3E;
    border-radius:5px ;
}

 .content-div{
    margin: 0 3rem;
    background: none !important;
    background: #423F3E;
}

.main{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    margin: auto;
    grid-gap: 1rem;
    background: #423F3E !important;

}

.name-img-p-div{
    font-family: sans-serif;
    /* border: 1px solid gray !important; */
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 1rem;
    background: #2B2B2B;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.image{
    height: 200px;
    width: 300px;
    border-radius: 10px;
}

.hr-tag{
    width: 60rem;
    height: 0.2rem;
    background: whitesmoke;
    border-radius: 50%;
    border: 1px solid black;
}

.footer{
    background: #423F3E;  
    /* box-shadow: 0 2px 4px -1px rgba(0,0,0,1); */
    color: black;
    display: flex;
    justify-content: space-around;
    border-radius: 5px;
    font-family: sans-serif;
    /* border-top: 2px solid lightgray; */
}

.link{
    text-decoration: none;
    color: white;
    font-family: sans-serif;
}
