.new-trip-btn{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: whitesmoke;
    border-radius: 5px;    
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

.btn-link{
    margin: 3rem 0 2rem 0 !important;
    background: whitesmoke !important;
}

.btn-pnt{
    font-family: sans-serif;
    color: black;
    background-color: #F75940 !important;
    height: 3rem;
    width: 10rem;
    font-family: sans-serif;
    border: 1px solid #F75940 !important;
    border-radius: 1.5rem;
    transition: 0.4s;
    cursor: pointer;
}

.btn-pnt:hover{
    transform: scale(1.2);
}

.new-trip-btn-h2{
    font-family: sans-serif;
    margin: 0 0 3rem 0;
}

.hotel-search{
    background: whitesmoke;
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    padding: 2rem 0;
    border-radius: 5px;
}

.search-option{
    display: flex;
    justify-content: space-around;
    margin: 0 10rem;
    /* background: whitesmoke; */
}

.hotel-heading{
    font-family: sans-serif;
    /* margin: 1rem 5rem; */
    display: flex;
    /* background: whitesmoke; */
    justify-content: center;
}

.input-city{
    height: 40px;
    padding: 0 1rem;
    /* background:whitesmoke; */
    border-radius: 0.5rem !important;
    display: flex;
    align-items: center;
    width: 20rem;
    border: 1px solid black;
}

.input-city::placeholder{
    color: black;
    font-family: sans-serif;
}

.search-booking{
    background: gray;
    color: black;
    height: 3rem;
    width: 13rem;
    border-radius: 1.5rem;
    font-family: sans-serif;
    font-weight: bold;
    cursor: pointer;
    transition: 0.4s;
    border: none;
}

.search-booking:hover{
    transform: scale(1.2);
}


.explore-div{
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0 3rem;
    border-radius: 5px;
    border: none !important;
    background: whitesmoke;
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
 }

.explore-heading{
    display: flex;
    justify-content: center;
}

 .content-div{
    margin: 0 3rem;
    background: none !important;
}


.main{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    margin: auto;
    grid-gap: 1rem;
    background: none !important;

}


.name-img-p-div{
    font-family: sans-serif;
    border: 1px solid gray !important;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 1rem;
    background: none !important;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.image{
    height: 200px;
    width: 300px;
    border-radius: 10px;
}


.hr-tag{
    width: 60rem;
    height: 0.2rem;
    background: black;
    border-radius: 50%;
    border: 1px solid black;
}


.footer{
    background: whitesmoke;  
    box-shadow: 0 2px 4px -1px rgba(0,0,0,1);
    color: black;
    display: flex;
    justify-content: space-around;
    border-radius: 5px;
    font-family: sans-serif;
    border-top: 2px solid lightgray;
}

.link{
    text-decoration: none;
    color: white;
    font-family: sans-serif;
}
