.footer{
    background: #423F3E;  
    box-shadow: 0 2px 4px -1px rgba(0,0,0,1);
    color: black;
    display: flex;
    justify-content: space-around;
    border-radius: 5px;
    font-family: sans-serif;
    border-top: 2px solid lightgray;
}

.link{
    text-decoration: none;
    color: white;
    font-family: sans-serif;
}
