.searchDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: whitesmoke;
    border-radius: 5px;    
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    font-family: sans-serif;
    margin-left: 10px;
}

.exploreDiv{
    font-family: sans-serif;
    width: fit-content;
    height: 75vh;
    display: flex;
    flex-direction: column;
    margin : 0 1rem;
    border-radius: 5px;
    border: none !important;
    background: whitesmoke;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    /* overflow-y: scroll; */
 }
 
.abcd{
    display: flex;
    justify-content: center !important;
}

.exploreHeading h1{
    margin-left: 375px !important;
}

.contentDiv{
    margin: 0 3rem;
    background: #423f3e !important;
    overflow-y: scroll;
}


.hrTag{
    width: 60rem;
    height: 0.2rem;
    background: black;
    border-radius: 50%;
    border: 1px solid black;
}


.searchItem{
    border:5px solid lightgrey;
    background: white;
    width: fit-content !important;
    padding: 5px;
    border-radius: 20px;
    display:flex;
    justify-content: space-between;
    gap:20px;
    margin-bottom: 20px;
    margin-left: 50px;
    margin-right: 50px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.siImg{
    width: 200px;
    height:200px;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    object-fit:cover ;
    border-radius: 20px;
}

.siDesc{
    /* display: flex;
    flex-direction: column;
    gap: 1px; */
    max-width: 190px;
    margin-bottom: 1px;
    border-right:5px solid lightgrey;
}

.siTitle {
    color:#0071c2
}
.siDetails{
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 25px;
    margin-right: 25px;
}
.silocation{
    background-color: #008009;
    color: white ;
    width: max-content;
    padding: 3px;
    border-radius: 5px;
    max-width: 250px;
}


.siRating{
 display: flex;
 justify-content: space-between;
}

.siRating span{
    margin-top: 20px;
    font-weight: 500;
}
.siRating p{
    background-color: #003580;
    color:white;
    padding:5px;
    font-weight: bold;
    border:none;
    border-radius: 5px;
}

.siDetailTexts{
    text-align: left;
    display: flex;
    flex-direction: column;
    gap:5px;

}
.siPrice{
    font-size: 15px;
}
.siTaxOp{
    font-size:13px;
    color:gray;
}
.siCheckButton{
    background-color: #0071c2;
    color: white;
    font-weight: bold;
    padding:10px 10px 5px 5px;
    border:none;
    border-radius: 5px;
}

.co{
    display: block;
    margin: 5px;
    padding: 5px;
}
.abcde{
    display: flex;
}
.inputCity{
    width: 97%;
}

.siDesc2{
    /* display: flex;
    flex-direction: column;
    gap: 1px; */
    max-width: 150px;
    margin-bottom: 1px;
    margin-top: 5px;
    border-right:5px solid lightgrey;
    padding: 10px;
}

.siTitle2{
    font-size: 15px;
}
.sihills2{
    font-size: 15px;
}
.sirooms2{
    font-size: 15px;
}
.sidistance2{
    font-size: 15px;
}
.sicancel2{
    font-size: 15px;
    color: #008009;
}
.sifacilities{
    font-size: 13px;
}

.SearchHotel{
    justify-content: center !important;
}

.filterSection{
    justify-content: center !important;
    margin:5px;
    padding: 5px;
    display: flex;
    gap: 5px;
}
.inputCity{
  width: 13.2rem;
  height: 20px;
  padding: 5px;
  border: 5px solid #ccc
}
.check{
    width:6rem;
    height: 20px;
    padding: 5px;
    border: 5px solid #ccc
}
.inputRooms{
  width: 8rem;
  height: 20px;
  padding: 5px;
  border: 5px solid #ccc
}
.inputRating{
    width: 10rem;
    height: 40px;
    padding: 5px;
    border: 5px solid #ccc;
}
.siCouple{
    width: 10rem;
    height: 40px;
    padding: 5px;
    border: 5px solid #ccc;  
}
.siDistanceAp{
    width: 10rem;
    height: 40px;
    padding: 5px;
    border: 5px solid #ccc; 
}
