.img-des {
    border-radius: 15px;
    margin: auto;
    width: 100%;
    height: 500px;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.096);
   }
   .centered-div {
    text-align: center;
    font-size: 30px;
  }
  
.img-detail {
    width: 150px;
    height: 225px;
    border-radius: 20px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    z-index: 1;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.096);
  }