.pnt-big-div-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30rem;
    font-family: sans-serif;
}

.pnt-main-container{
    background: #423F3E;
    width: 37rem;
    height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border-radius: 5px;
}